<% var title = 'Stage Squirrel - Manage Conventions'; %>
<% include ./partials/page-begin %>

<div class="page-header text-center"><h1>Manage Conventions</h1><div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal"  method="post"%>
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Convention Overview</strong></div>
                <div class="panel-body">
                    <div class="form-group row">
                        <div class="col-sm-2"><b>Name</b></div>
                        <div class="col-sm-5"><b>Description</b></div>
                        <div class="col-sm-4"><b>Period</b></div>
                        <div class="col-sm-1"><b>Edit</b></div>
                    </div>
                    <% for (convention of conventions) { %>
                    <div class="form-group row" style="<%= convention.convention_id == user.currentConvention.convention_id ? 'background-color: #DDFFDD;' : '' %>">
                        <div class="col-sm-2"><b><%= convention.convention_name %></b></div>
                        <div class="col-sm-5"><%= convention.convention_description %></div>
                        <div class="col-sm-4"><%= convention.date_from + ' to ' + convention.date_to %></div>
                        <div class="col-sm-1">
                            <button
                                type="button"
                                class="btn btn-primary js-open-convention-create"
                                data-toggle="modal"
                                data-target="#convention_create_modal"
                                data-action="edit"
                                data-cid="<%= convention.convention_id %>"
                                data-cname="<%= convention.convention_name %>"
                                data-cdesc="<%= convention.convention_description %>"
                                data-ctemp="<%= convention.template_id %>"
                                data-cstage="<%= convention.stage_ids %>"
                                data-cfrom="<%= convention.date_from %>"
                                data-cto="<%= convention.date_to %>"
                                >
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                    </div>
                    <% } %>
                    <button
                        type="button"
                        class="btn btn-primary js-open-convention-create"
                        data-toggle="modal"
                        data-target="#convention_create_modal"
                        data-action="create"
                        >
                        Add convention
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="convention_create_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post">
                <div class="modal-header">
                    <input type="hidden" name="convention_id" id="cid">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="createtxt">Create convention</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Title:</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="convention_name" id="cname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description:</label>
                        <div class="col-sm-10">
                            <textarea
                                class="form-control"
                                name="convention_desc"
                                id="cdesc"
                                >
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Template:</label>
                        <div class="col-sm-10">
                            <select
                                class="form-control"
                                name="convention_template"
                                id="ctemp"
                                >
                            <% for (template of templates) { %>
                                <option
                                    value="<%= template.template_id %>"
                                    >
                                    <%= template.template_name %>
                                </option>
                            <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Stages:</label>
                        <div class="col-sm-10 control-label">
                            <% for (stage of stages) { %>
                            <div class="col-sm-4" style="text-align:left">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="convention_stage"
                                        value="<%= stage.stage_id %>"
                                        />
                                    <%= stage.stage_name %>
                                </label>
                            </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Event Time:</label>
                        <div class="col-sm-10">
                            <div class="input-daterange js-convention input-group" id="datepicker">
                                <input type="text" class="form-control" name="start" id="cfrom" />
                                <span class="input-group-addon">to</span>
                                <input type="text" class="form-control" name="end" id="cto" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="deletebtn" name="actionType" value="delete">Delete</button>
                    <button type="submit" class="btn btn-primary" id="createbtn" name="actionType" value="create">Create</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/page-end %>