<% var title = 'Stage Squirrel - Create Stage Survey'; %>
<% include ./partials/page-begin %>

<div class="page-header text-center">
    <h1>Create Stage Survey</h1>
</div>
<% if (event.maxVersion > 1) { %>
    <div class="col-sm-12">
        <ul class="pagination">
            <% if (event.version > 1) { %>
                <li><a href="<%= locals.baseUrlInfo.pathname %>create?id=<%= event.id %>&version=<%= (event.version - 1) %>"><</a></li>
            <% } else { %>
                <li class="disabled"><a href="#"><</a></li>
            <% } %>
            <% for (var i = 1; i <= event.maxVersion; i++) { %>
                <li<%= event.version == i ? ' class="active"' : '' %>>
                    <a href="<%= locals.baseUrlInfo.pathname %>create?id=<%= event.id %>&version=<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <% if (event.version < event.maxVersion) { %>
                <li><a href="<%= locals.baseUrlInfo.pathname %>create?id=<%= event.id %>&version=<%= (event.version + 1) %>">></a></li>
            <% } else { %>
                <li class="disabled"><a href="#">></a></li>
            <% } %>
        </ul>
    </div>
<% } %>
<% if (!isCreationMode) { %>
    <div class="col-sm-12">
        <% if (event.version <= event.versionConfirmedByManager) { %>
            <h3 style="display:inline-block;"><span class="label label-success">Accepted by Stage Manager: Yes</span></h3>
        <% } else { %>
            <h3 style="display:inline-block;"><span class="label label-warning">Accepted by Stage Manager: No</span></h3>
            <% if (user.isManager) { %>
                <form method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary btn-sm" name="accept" value="manager" style="margin-top: -5px;">accept</button>
                    <input name="version" type="hidden" value="<%= event.version %>" />
                    <input name="event_id" type="hidden" value="<%= event.id %>" />
                </form>
            <% } %>
        <% } %>
    </div>
    <div class="col-sm-12">
        <% if (event.version <= event.versionConfirmedByCreator) { %>
            <h3 style="display:inline-block;"><span class="label label-success" align="right">Accepted by Event Manager: Yes</span></h3>
        <% } else { %>
            <h3 style="display:inline-block;"><span class="label label-warning" align="right">Accepted by Event Manager: No</span></h3>
            <% if (user.user_id === creatorId) { %>
                <form method="post" style="display:inline;">
                    <button type="submit" class="btn btn-primary btn-sm" name="accept" value="creator" style="margin-top: -5px;">accept</button>
                    <input name="version" type="hidden" value="<%= event.version %>" />
                    <input name="event_id" type="hidden" value="<%= event.id %>" />
                    <input name="event_manager" type="hidden" value="<%= creatorId %>" />
                </form>
            <% } %>
        <% } %>
    </div>
<% } %>

<div class="row">
    <div class="col-sm-12">
        <row>
            <div class="col-lg-12">
                <form class="form-horizontal"  method="post" onsubmit="return confirm('Do you really want to <%= event.id > 0 ? 'confirm the changes' : 'create that survey' %>?');" >
                    <input name="event_id" type="hidden" value="<%= event.id %>" />
                    <input name="version" type="hidden" value="<%= event.version %>" />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>Tell us about your event</strong>
                        </div>
                        <div class="panel-body">
                            <p>Basic info up front</p>
                            <% if (user.isManager && isCreationMode) { %>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                        Who will be the Event Manager?
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="event_manager">
                                            <option value="<%= creatorId %>">Me</option>
                                            <% for (creator of creatorsList) { %>
                                                <option value="<%= creator.user_id %>">
                                                    <%= creator.user_name %>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                            <% } else { %>
                                <input name="event_manager" type="hidden" value="<%= creatorId %>" />
                            <% } %>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                    Your events name?
                                </label>
                                <div class="col-sm-8">
                                    <input class="form-control" name="event_name" value="<%= event.name %>" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                    It will take place on the:
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="stage_id">
                                        <option value="">Please choose...</option>
                                        <% for (stage of stages) { %>
                                        <option value="<%= stage.stage_id %>" <%= (event.stageId === stage.stage_id ? 'selected' : '') %> >
                                            <%= stage.stage_name %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                    Day of week / Date:
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" name="event_date">
                                        <option value="">Please pick a day...</option>
                                        <% for (day of convention.days) { %>
                                        <option value="<%= day.isoDate %>" <%= (event.day === day.isoDate ? 'selected=selected' : '') %> >
                                            <%= day.weekDay %>, <%= day.isoDate %>
                                        </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-7 control-label">
                                    Time you will need for setup before the actual event:
                                </label>
                                <div class="col-sm-3">
                                    <input class="form-control" name="time_pre" type="number" min=0 max=120 value="<%= event.timePre %>" />
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Minutes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-7 control-label">
                                    The overall duration of your event:
                                </label>
                                <div class="col-sm-3">
                                    <input class="form-control" name="time_dur" type="number" min=0 max=120 value="<%= event.timeDur %>" />
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Minutes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-7 control-label">Time you'll need for breakdown right after the event:</label>
                                <div class="col-sm-3">
                                    <input class="form-control" name="time_post" type="number" min=0 max=120 value="<%= event.timePost %>">
                                </div>
                                <div class="col-sm-2">
                                    <label class="control-label">Minutes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">What fits your event most?</label>
                                <div class="col-sm-8">
                                    <div class="checkbox">
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Talk" <%= (event.type == 'Talk' ? 'checked' : '') %> />
                                            Talk
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Concert" <%= (event.type == 'Concert' ? 'checked' : '') %>>
                                            Concert
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Theater" <%= (event.type == 'Theater' ? 'checked' : '') %>>
                                            Theater
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Gameshow"<%= (event.type == 'Gameshow' ? 'checked' : '') %>>
                                            Gameshow
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Dance"<%= (event.type == 'Dance' ? 'checked' : '') %>>
                                            Dance
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="event_type" value="Other" <%= (event.type == 'Other' ? 'checked' : '') %>>
                                            Other
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                    Please copy+paste your event­ description from the program
                                </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="event_desc" name="event_desc"><%= event.description %></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="col-sm-4 control-label">
                                    Okay, what is really going to happen?
                                </label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" id="event_expl" name="event_expl"><%= event.explanation %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% for (panel of elements) { %>
                        <%- panel.render() -%>
                    <% } %>
                    <% if (event.version === event.maxVersion) { %>
                        <button type="submit" name="action" class="btn btn-primary">
                            <%= (isCreationMode ? 'create Event' : 'update Event') %>
                        </button>
                    <% } %>
                </form>
            </div>
        </row>
    </div>
</div>

<% include ./partials/page-end %>