<% /* See /app/lib/DataModels/Element/RadioBoxList.js for more information. */ %>
<div class="row">
    <label class="col-xs-<%= labelWidth %> nopadding">
        <%= label %>
    </label>
    <% for (var option of options) { %>
    <div class="col-xs-<%= valueWidth %> nopadding">
        <label class="radio-inline">
            <input
                name="custom<%= id %>"
                type="radio"
                value="<%= option.id %>" <%= option.isSelected ? 'checked="checked"' : '' %> />
            <%= option.value %>
        </label>
    </div>
    <% } %>
</div>